/* -------------- COLORS --------------*/

$b_default    : #FCFCFC;
$b_green      : #EEF7D1;
$c_text       : #393E46;
$blue         : #04009A;
$skyblue      : #D1D0FF;
$lightSkyblue : #EFEFFF;
$purple       : #D5D3FF;
$gray         : #D3D3D3;
$lightBlue    : #0700FF;


/* -------------- SYSTEM --------------*/

$margin_section: 180px;
$margin_section_tablet: 150px;
$margin_section_mobile: 100px;
