.tabs {
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 54px;

    li {
      text-align: center;
      font-weight: 600;
      font-size: 18px;
      color: $skyblue;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      //width: 33.3%;
      transition: .3s ease;
      //white-space: nowrap;
      &.active {
        color: $blue;
      }

      &:hover {
        color: $blue;
      }
    }
  }

  &__line {
    width: 100%;
    background-color: $skyblue;
    height: 1px;
    position: absolute;
    //bottom:-55px;
    top: 40px;
    margin-bottom: 54px;
    @include _575 {
      display: none;
    }

    &-inner {
      background-color: $blue;
      height: 4px;
      transition: .55s ease-out;
      border-radius: 5px;
      width: 24%;
      position: absolute;
      top: -1.5px;
      left: 0;
    }
  }
}
